*.pyc
*.pid
*.log
*.swp
*.core
*~
.idea
py_path.py*
!api/protos/py_path.py
api/websockets/wsd/bin
!api/websockets/wsd/bin/README
api/web/static
api/web/settings/local.py
api/globals/gsettings/local.py
api/globals/alembic.ini
api/web/apps/start.py
api/conf/*
!api/conf/*.orig
api/logs/*
iface/conf/*
!iface/conf/*.orig
iface/logs/*


